@model WeCount.Models.Application

@{
    ViewData["Title"] = "Condidat Détails";
}

@section styles {
    <style>
        .grid {
            display: grid;
            grid-template-columns: 1fr 3fr;
            gap: 8px;
            font-size: 18px
        }

        object, img {
            width: 100%;
            display: block;
        }

        h4 {
            margin: 0;
            padding: 4px 0
        }

        strong {
            font-weight: 600;
            margin: 14px 0;
            color: #1d1c1c;
            display: block;
        }

        p {
            color: var(--grey-color);
            padding: 0;
            margin: 7px 0;
            line-height: 1.4
        }

        .padding-left {
            display: block;
            padding-left: 18px;
        }
    </style>
}

<div class="container content-container">
    <div><strong style="display: inline">• Étape 1 / Étape 2 / Étape 3 :</strong> visualisation du résumé des informations saisies.</div>
    <br />
    <div class="grid">
        <div>
            <h4>Nom: <span class="padding-left">@Model.LastName</span></h4>
            <h4>Préom: <span class="padding-left">@Model.FirstName</span></h4>
            <strong>Mail: <span class="padding-left">@Model.Mail</span></strong>
            <strong>Téléphone: <span class="padding-left">@Model.Phone</span></strong>

            <strong>
                Nombre d’années d’expérience:
                <span class="padding-left">
                @Model.YearsOfExperinces
                @if (Model.YearsOfExperinces == 1)
                {
                    <span>année</span>
                }
                else if (Model.YearsOfExperinces >= 1)
                {
                    <span>années</span>
                }
                </span>
            </strong>

            <p class="card-text three-lines">Niveau D'etude: <span class="padding-left">@Model.StudyLevel</span></p>
            <strong>Dernier employeur: <span class="padding-left">@Model.LastJob</span></strong>
        </div>
        <div style="text-align: center">
            <a href="@Model.Resume.Replace("\\", "/")" download>Télécharger CV</a>
            @if (Model.GetExtension().Equals(".pdf", StringComparison.OrdinalIgnoreCase))
            {
                <object data="@Model.Resume.Replace("\\", "/")" type="application/pdf"></object>
            }
            else
            {
                <img src="@Model.Resume.Replace("\\", "/")" alt="" />
            }
        </div>
    </div>
</div>
