@{
    ViewData["Title"] = "Condidats";
}

@section styles {
    <link rel="stylesheet" href="~/assets/styles/programs.css" />
    <style>
        .programs .card .card-body a, .delete-button, .primary-button {
            display: inline-block;
            margin: 8px;
            width: auto;
            font-size: 15px;
            padding: 14px
        }

        .delete-application-form {
            display: inline-block
        }
    </style>
}

@model IEnumerable<WeCount.Models.Application>
<div class="programs">
    <div class="container">
        @foreach (var item in Model)
        {
        <div class="card">

            @if (item.GetExtension().Equals(".pdf", StringComparison.OrdinalIgnoreCase))
            {
                <object data="@item.Resume.Replace("\\", "/")" type="application/pdf"></object>
            }
            else
            {
                <img src="@item.Resume.Replace("\\", "/")" alt="" />
            }

            <div class="card-body">
                <h4 class="card-header">@item.FullName</h4>
                <strong>Mail: @item.Mail</strong>
                <strong>Téléphone:  @item.Phone</strong>

                <strong>
                    Années d’expérience: @item.YearsOfExperinces
                    @if (item.YearsOfExperinces == 1)
                    {
                        <span>Année</span>
                    }
                    else if (item.YearsOfExperinces >= 1)
                    {
                        <span>Années</span>
                    }
                </strong>

                <p class="card-text three-lines">Niveau D'etude:  @item.StudyLevel</p>
                <div>
                    <a class="primary-button" asp-controller="Applications" asp-action="DisplayApplication" asp-route-slag="@item.Slag">Détails</a>
                    <form class="delete-application-form" asp-action="DeleteApplication" asp-controller="Applications" method="post" asp-route-slag="@item.Slag">
                        <button class="delete-button" type="submit">Supprimer</button>
                    </form>
                </div>
            </div>
        </div>
        }
    </div>
</div>

@section scripts {
    @*<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>*@
    <script src="~/assets/scripts/sweetalert2.all.min.js"></script>
    <script>
        const deleteApplicationForms = document.querySelectorAll('.delete-application-form');
        deleteApplicationForms.forEach(form => {
            form.addEventListener('submit', function (e) {
                e.preventDefault();
                Swal.fire({
                    title: 'Tu veux vraiment supprimer ce candidat?',
                    showCancelButton: true,
                    confirmButtonText: 'Supprimer',
                }).then((result) => {
                    if (result.isConfirmed) {
                        e.target.submit();
                    }
                })
            })
        })
    </script>
} 